.cards__item {
  display: flex;
  flex-direction: column;
  width: 240px;
  margin: 0 100px 0;
}

.cards__item:nth-of-type(2n+1) {
  margin: 0;
}

.cards__item:nth-of-type(4) {
  margin: 0 100px 0 0;
}
