.two-columns__brief {
  /*Столбец "Заголовок" блока "Два столбца" секции "Описание проблемы"*/
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  color: #2f80ed;
  font-weight: normal;
}
