.table__cell_theme_dark {
  /*Модификатор ячейки таблицы секции "Фейнман" для секции "Кауфман"*/
  width: 200px;
  color: white;
  /*margin-right: 0;*//*Это свойство было изначально задано авторами задания!!!*/
  margin-top: 80px;
}
